<style>
	.form_input{
		margin: 10px 0;
	}
</style>
<h1>Create a new Spotlight</h1>
<%= form_for([:admin, @spotlight]) do |f| %>

  <div class="form_input">
  <%= f.label :url %>
  <%= f.text_field :url%>
  </div>

  <%= f.label :city %>
  <select name="city_id">
  	<% @city.each do |city|%>
	  <option value="<%= city.id %>"><%= city.name %></option>
    <% end %>
    <option value="0">All Cities</option>
  </select><br/>
  
  <%= f.label :description, "Full description text" %>
  <div class="form_input">
  	<textarea name="spotlight[description]"></textarea>
  </div><br/>
  
  <%= f.file_field :image %><br/>
    
  <div class="form_input">
    <%= f.submit "Create" %>
  </div>
<% end %>
