<style>
	#map_canvas{
		height: 200px;
		width: 200px;
	}
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&sensor=false"></script>
<script type="text/javascript">
  $(function(){
  	initialize();
  })
  function initialize() {
    var myOptions = {
      center: new google.maps.LatLng(<%=  @listing.lat %>, <%=  @listing.long %>),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    var listing_marker = new google.maps.Marker(
    	{	
    		map: map,
    		position: new google.maps.LatLng(<%=  @listing.lat %>, <%=  @listing.long %>)
    	}
    ) 
  }
</script>
<div class="listing">
  <div class="photos">
    <div class="main_photo">
      <%= image_tag @listing.image1.url(:main), :class => "main_photo"%>
    </div>
    <%= image_tag @listing.image1.url(:thumb), :id => @listing.image1.url(:main), :class => "listing_thumb"%>
    <%= image_tag @listing.image2.url(:thumb), :id => @listing.image2.url(:main), :class => "listing_thumb"%>
    <%= image_tag @listing.image3.url(:thumb), :id => @listing.image3.url(:main), :class => "listing_thumb"%>
    <%= image_tag @listing.image4.url(:thumb), :id => @listing.image4.url(:main), :class => "listing_thumb"%>
  </div>
  <div class="listing_info">
  <h1><%=  @listing.name %></h1>
  Address: <%=  @listing.address1 %>, <%=  @listing.city.name %>, <%=  @listing.city.state %> <%=  @listing.zip %><a href="#">Map This!</a><br><br>
  Phone: <%=  @listing.phone %><br><br>
  Hours: <%=  @listing.hours %><br><br>
  Tags: Good for <a href="#">dancing</a>, <a href="#">karaoke</a>, <a href="#">singles</a><br><br>     
  </div>
  <div style="float:left;"">
    <div id="map_canvas"></div>
  </div>
  <div class="listing_description" style="clear:both;">
  	<%= @listing.blurb %>
  </div>
  <div class="button green" id="mynotes_add">Add to My Notes</div>
  <hr class="solid_gray clear"/>
  <div class="featured_rev">
    <h2>Staff Review</h2>
    <%= @listing.su_review %>
  </div>
  <hr class="solid_gray"/>
  <a id="new_review" href="#review_box"><div class="button green">Write a Review</div></a>
  <h2>User Reviews</h2>
  <div id="review_box" style="display:none;"></div>
  <div class="more_reviews clear">
    <div class="review">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt" -User</div>
    <div class="review light_gray">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt" -Another User</div>
  </div>
</div>