<!DOCTYPE html>
<html>
<%= render 'layouts/head'%>
<body>
	<div class="wrapper">
		<%= render 'layouts/header'%>
		<%= render 'layouts/top_menu'%>
		<div class="content">		
			<%= render 'layouts/right_content'%>
			<div class="main_content">
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer'%>
	</div>
</body>
</html>
